{% extends "poem_titles.html" %}
{% block poem_header %}
    <link rel="stylesheet" type="text/css" href="../static/css/style_journey.css">
    <header>
        <h1 id="a-journey">A Journey</h1>
    </header>
{% endblock %}
<a name="top"></a>
{% block poem %}
    <div id="poem">
        <p>
            A journey<br>
            Endless stones laying ahead<br>
            Coming our way<br>
            Every day in this world.<br>
            Our knees<br>
            Are scraped and bloody<br>
            From constant falls<br>
            They hurt and feel tired.<br>
            We proceed<br>
            On our given paths<br>
            With continuous struggle<br>
            One leg at a time.<br>
            Suspicion rising<br>
            Trying to spot enemies<br>
            With bad intentions<br>
            That wish to destroy us.<br>
            But no –<br>
            Their plan won’t work<br>
            We are brave<br>
            For we will overcome them.<br>
            We hold<br>
            The flag of truth<br>
            With everlasting pride<br>
            To prove our enemies wrong.<br>
            This day<br>
            We all stand together<br>
            We are heroes<br>
            For winning the untold battles.<br>
            It’s hard<br>
            To taste the honey<br>
            And feel sweetness<br>
            When surrounded by buzzing bees.<br>
            But yes –<br>
            We received the honey<br>
            It is pure<br>
            It is a bee’s creation.<br>
            We sing<br>
            The song of heroism<br>
            We are champions<br>
            For not losing our morality.<br>
            Like soldiers<br>
            Fighting for their country<br>
            Some are wounded<br>
            But their nation is protected.<br>
            Our dignity<br>
            Is what we cherish<br>
            Until we emerge<br>
            Clean from the ongoing mess!<br>
        </p>
        <p>
            <!--<a href="#top" id="top">Back to Top</a>-->
            <a href="#" id="top"
               onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">Back to
                top</a>
        </p>
    </div>

{% endblock %}