<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

       <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
              integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

        {% if title %}
            <title>{{ title }} – MCON 104 Term Project</title>
        {% else %}
            <title>MCON 104 Term Project </title>
        {% endif %}
    </head>

    <body>
        <nav id="top_nav">
            <img src="../static/favicon.ico" alt="Logo"/>
            <a href="{{ url_for('index') }}" id="nav_home">Home</a>
            <hr/>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <hr/>
        </footer>
    </body>

</html>
