{% extends "poem_titles.html" %}
{% block poem %}
    <link rel="stylesheet" type="text/css" href="../static/css/style_chess.css">

    <header>
        <h1 id="chess">A Game of Chess</h1>
    </header>
    <a name="top"></a>
    <div id="poem">
        <p>
            Two brains at work<br>
            Sharing a common goal<br>
            On opposite ends<br>
            They play important roles.<br>
            <br>
            Competing through mind<br>
            Intelligence in motion<br>
            Creating strategies<br>
            Following their intuition.<br>
            <br>
            Their aim is known<br>
            The king at target<br>
            To beat their opponent<br>
            They will never forget.<br>
            <br>
            Many pieces involved<br>
            So equally important<br>
            Not one could be let go<br>
            A mindset so adamant.<br>
            <br>
            A pawn may fall<br>
            But the king stands erect<br>
            It holds the victory<br>
            It's kingdom, it protects.<br>
            <br>
            The game is over<br>
            If the leader is hit<br>
            A loss so hurtful<br>
            It is difficult to admit.<br>

            The game is always present<br>
            Its battle occurs daily<br>
            Have the correct mindset<br>
            And your heart will win constantly!<br>
        </p>
        <p>
            <!--<a href="#top" id="top">Back to Top</a>-->
            <a href="#" id="top" onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">Back to top</a>
        </p>
    </div>

{% endblock %}