{% extends "poem_titles.html" %}
{% block poem_header %}
    <link rel="stylesheet" type="text/css" href="../static/css/style_imprisoned.css">
    <header>
        <h1 id="imprisoned">Imprisoned</h1>
    </header>
{% endblock %}
<a name="top"></a>
{% block poem %}
    <div id="poem">
        <p>
            I cut into your flesh<br>
            With a knife<br>
            For you killed<br>
            And destroyed<br>
            His life.<br>
            You robbed<br>
            His innocence<br>
            His freedom<br>
            His glory<br>
            His youth.<br>
            You ruined his being<br>
            You stole his moral<br>
            And so you damaged<br>
            My soul too.<br>
            I felt his pain<br>
            I felt his shame<br>
            And so I struck you<br>
            Without choice.<br>
            I performed justice<br>
            While committing a crime<br>
            But my blood<br>
            Was boiling within me.<br>
            I had to defend him<br>
            For if not<br>
            He would die<br>
            A very slow death<br>
            The death of his soul.<br>
            Consequently<br>
            I was placed behind bars<br>
            For years<br>
            Without a future<br>
            Without purpose of life.<br>
            Mold has been growing on my flesh.<br>
            I feel rotten<br>
            I feel unworthy<br>
            I feel alone<br>
            I feel no sympathy.<br>
            Why,<br>
            Was it only yesterday<br>
            But tomorrow<br>
            Never seems to come my way?<br>
            He hit me<br>
            Degraded me<br>
            And most importantly<br>
            Disowned me.<br>
            And now,<br>
            My life<br>
            Is in jeopardy.<br>
            When reality hits<br>
            I yearn for self respect<br>
            For dignity<br>
            For truth.<br>
            But I am a criminal<br>
            And my label<br>
            Will stay with me<br>
            Forever.<br>
            I hear the speeches<br>
            And I am miserable.<br>
            I hear the sounds<br>
            And I feel terrible.<br>
            I try to concentrate<br>
            I try to stay strong<br>
            But I am a spirit<br>
            Trapped within a body<br>
            Trapped within a structure<br>
            Built of stone and metal.<br>
            Fleeing is not an option<br>
            But patience is.<br>
            I yearned for education<br>
            And through humiliation<br>
            I received that privilege.<br>
            I study all day<br>
            I read all day.<br>
            I dream about the day<br>
            That I will be an author.<br>
            But I am a criminal<br>
            For I killed a man.<br>
            Not a man of innocence<br>
            Not a man of love<br>
            Not a man of compassion.<br>
            I killed a man of the devil.<br>
            I am human<br>
            Just like you<br>
            I killed for justice<br>
            But I killed my soul too.<br>
            I am innocent<br>
            But guilty.<br>
            I am wise<br>
            But I am foolish.<br>
            I am brave<br>
            But I acted cowardly.<br>
            All because I killed<br>
            And I killed my precious years.<br>
            I fight my mind<br>
            I fight my soul.<br>
            And until the day I die<br>
            I will live<br>
            With a conflicting mind.<br>
        </p>
        <p>
            <!--<a href="#top" id="top">Back to Top</a>-->
            <a href="#" id="top"
               onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">Back to
                top</a>
        </p>
    </div>

{% endblock %}