{% extends "poem_titles.html" %}
{% block poem_header %}
    <link rel="stylesheet" type="text/css" href="../static/css/style_letting_go.css">
    <header>
        <h1 id="letting-go">Letting Go</h1>
    </header>
{% endblock %}
<a name="top"></a>
{% block poem %}
    <div id="poem">
        <p>
            I sit in the cabin<br>
            My arms spread apart<br>
            I listen to music<br>
            The beats of my heart.<br>
            <br>
            I listen to the rhythm<br>
            It is steady and slow<br>
            The people are calming down<br>
            My destination unknown.<br>
            <br>
            Music changes my soul<br>
            I escape into another planet<br>
            I change my playlist from pop to classic<br>
            For I realize I am altering a habit.<br>
            <br>
            And so I sit in my seat<br>
            Awaiting my final destination<br>
            When out of the blue<br>
            My heart yells frustration.<br>
            <br>
            My fingers grasp the railing<br>
            My hair is flying in the air<br>
            My feet above the ground<br>
            While my eyes are shedding tears.<br>
            <br>
            I pretend that I'm shooting a film<br>
            And I'm just finishing my act<br>
            But then reality hits me<br>
            And I'm blown away by its powerful impact.<br>
            <br>
            I hold on tight<br>
            So I do not lose my grip<br>
            But then I start feeling awful<br>
            I start regretting the trip.<br>
            <br>
            The cars are connected to each other<br>
            So there is no option of running away<br>
            So I fight with all my might<br>
            To get to see the light of another day.<br>
            <br>
            I watch the moon, the stars fulfill their duty<br>
            I watch the waves splashing at sea<br>
            But only five of my fingers are now on the railing<br>
            For no one seems to answer my plea.<br>
            <br>
            And then I feel like evil is on its way<br>
            It wishes to grab my soul<br>
            It wishes to thrust its fragments on the ground<br>
            And shatter its life's purpose and goal.<br>
            <br>
            And the angels dressed in black<br>
            With their capes spreading darkness through the air<br>
            Pounce on my back nonstop<br>
            For they want me to drown in despair.<br>
            <br>
            For a moment I think it's too late<br>
            For all ten fingers have left the railing
            But then G-d got hold of my soul<br>
            And so I felt secure, even though I've been failing.<br>
		</p>
        <p>
            <!--<a href="#top" id="top">Back to Top</a>-->
            <a href="#" id="top"
               onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">Back to
                top</a>
        </p>
    </div>

{% endblock %}