{% extends "poem_titles.html" %}
{% block poem_header %}
    <link rel="stylesheet" type="text/css" href="../static/css/style_navy_seal.css">
    <header>
        <h1 id="navy-seal">Navy Seal</h1>
    </header>
{% endblock %}
<a name="top"></a>
{% block poem %}
    <div id="poem">
        <p>
            I am a night owl<br>
            For I make my nights my days.<br>
            In the dark<br>
            I can navigate through the habitat<br>
            That is when I do the drills<br>
            And I get the chills.<br>
            It is when the winds are fierce<br>
            And they blow through my bones<br>
            That they make me cold<br>
            They make me shiver.<br>
            But that is when I feel<br>
            The bravery<br>
            The commitment<br>
            The strength<br>
            Of my mind and soul.<br>
            It is with passion<br>
            That I fight<br>
            To take control<br>
            Of my surroundings<br>
            And then I prevail.<br>
            Sometimes the winds are so rigid<br>
            But I push myself through its stiffness<br>
            And I make it work<br>
            No matter its level of toughness.<br>
            And when it whistles its winds of caution<br>
            My heartbeat slows down<br>
            And I think<br>
            I remain calm<br>
            I untie the knots.<br>
            And so, I don’t drown<br>
            Ever<br>
            So that I don’t die<br>
            And put my dreams to sleep.<br>
            There are times<br>
            When I turn into a rabbit<br>
            I hop through fields<br>
            Fields of war<br>
            Of sweat<br>
            Of uncertainty.<br>
            I hop through its bullets of grass<br>
            And then like the feet of deer<br>
            I run the miles of rescue missions.<br>
            When I dive and swim like a dolphin<br>
            I join the waves as a friend<br>
            As I learned to overcome their currents<br>
            And I pop out my head with a victorious defeat.<br>
            The bullets I fire<br>
            Have targets I aim at<br>
            And I hit<br>
            My aim.<br>
            My aim<br>
            Is the enemy<br>
            The enemy of the people<br>
            The people of G-d<br>
            Of love<br>
            And of innocence.<br>
            And as I pull the trigger<br>
            My adrenaline takes over<br>
            And I win.<br>
            I win the battles of justice<br>
            Of freedom<br>
            Of security.<br>
            I wear the gear of trust<br>
            The trust of my very own country<br>
            That I will succeed<br>
            To eradicate the evil<br>
            The evil of mankind.<br>
            This is who I am<br>
            For I am a Navy SEAL!<br>
        </p>
        <p>
            <!--<a href="#top" id="top">Back to Top</a>-->
            <a href="#" id="top"
               onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">Back to
                top</a>
        </p>
    </div>

{% endblock %}
