{% extends "base.html" %}
{% block content %}

    <link href="../static/css/style_poem.css" rel="stylesheet" type="text/css">

    {% block poem_header %}
    {% endblock %}

    <nav id="nav_bottom">
        <ul id="nav_list">
        <li><button id="chess"><a href="{{ url_for('index') }}">Home</a></button></li>
        <li><button id="nave-seal"><a href="{{ url_for('seal') }}">Navy Seal</a></button></li>
        <li><button id="a-journey"><a href="{{ url_for('journey') }}">A Journey</a></button></li>
        <li><button id="cold-and-grey"><a href="{{ url_for('grey') }}">I Am Cold and Grey</a></button></li>
        <li><button id="letting-go"><a href="{{ url_for('letting') }}">Letting Go</a></button></li>
        <li><button id="imprisoned"><a href="{{ url_for('imprisoned') }}">Imprisoned</a></button></li>
        <li><button id="chess"><a href="{{ url_for('chess') }}">A Game of Chess</a></button></li>
        </ul>
    </nav>

    {% block poem %}
    {% endblock %}

{% endblock %}