{% extends "base.html" %}
{% block content %}

    <link href="../static/css/style_poem.css" rel="stylesheet" type="text/css">

    <nav id="nav">
        <ul id="nav_list">
        <li><button id="nave-seal"><a href="navy_seal.html">Navy Seal</a></button></li>
        <li><button id="a-journey"><a href="a_journey.html">A Journey</a></button></li>
        <li><button id="cold-and-grey"><a href="cold_and_grey.html">I Am Cold and Grey</a></button></li>
        <li><button id="letting-go"><a href="letting_go.html">Letting Go</a></button></li>
        <li><button id="imprisoned"><a href="imprisoned.html">Imprisoned</a></button></li>
        <li><button id="chess"><a href="{{ url_for('chess') }}">A Game of Chess</a></button></li>
        </ul>
    </nav>

    {% block poem %}
    {% endblock %}

{% endblock %}